.section-1 {
  &__wrap {
    padding-top: 228px;
    padding-bottom: 130px;
    @media (max-width: 1000px) {
      padding-top: 108px;
      padding-bottom: 100px;
    }
    @media (max-width: 768px) {
      padding-top: 68px;
      padding-bottom: 70px;
    }
    & .title {
      padding-top: 18px;
      font-family: Heebo;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 60px;
      color: #21243d;
      & .wrapp {
        max-width: 497px;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
      & h1 {
        font-family: Heebo;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 60px;
        color: #21243d;
        @media (max-width: 1000px) {
          font-size: 38px;
          line-height: 50px;
        }
        @media (max-width: 768px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      & .desc {
        padding-top: 40px;
        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #21243d;
        @media (max-width: 1000px) {
          padding-top: 28px;
        }
        @media (max-width: 768px) {
          padding-top: 18px;
        }
      }
    }
    & .img-wrapper {
      & img {
        border-radius: 100%;
        box-shadow: -7px 9px 5px #edf7fa;
      }
      // background-image: url("../../img/photoProfile.svg");
      // width: 243px;
      // height: 243px;
      // background-position: center;
      // background-size: contain;
      // background-repeat: no-repeat;
    }
  }
}
