.section-2 {
    & span {
        vertical-align: middle;
    }
    & .wrap-education {
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
        }
        @media (max-width: 524px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 20px;
        }
    }
    &__container {
        min-height: 398px;

        &__container {
            max-height: 398px;

            width: 100%;
            background-color: #edf7fa;
        }
        & .wrapping-pad {
            padding: 12px 146px 55px 146px;
            @media (max-width: 1200px) {
                padding: 100px;
            }
            @media (max-width: 968px) {
                padding: 40px;
            }
            @media (max-width: 572px) {
                padding: 20px;
            }
            & .title {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */
                letter-spacing: 0.015em;
                text-transform: uppercase;

                /* PRIMARY / GREEN */

                color: #136223;
            }
            & ul {
                padding: 0px;
                padding-top: 25px;
                @media (max-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                @media (max-width: 524px) {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                & li {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;

                    color: #100101;
                    padding-bottom: 21px;
                    list-style: none;
                    & img {
                        width: 37px;
                        padding-right: 20px;
                    }
                }
            }

            & .education {
                padding-top: 25px;
                padding-bottom: 16px;
                & .title {
                    /* TITLE 3 */
                    text-transform: capitalize;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.015em;
                    color: #000000;
                    flex: none;
                    order: 0;
                    align-self: flex-start;
                    flex-grow: 0;
                    margin: 6px 0px;
                    padding: 0px;
                    margin: 0px;
                }
                & h1 {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */

                    letter-spacing: 0.015em;

                    color: #000000;

                    /* Inside Auto Layout */

                    flex: none;
                    order: 0;
                    align-self: flex-start;
                    flex-grow: 0;
                    margin: 6px 0px;
                }
                & p {
                    font-family: Inter;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */

                    color: #000000;

                    /* Inside Auto Layout */

                    flex: none;
                    order: 1;
                    align-self: flex-start;
                    flex-grow: 0;
                    margin: 6px 0px;
                }
                & .ul {
                    padding: 0px;
                    margin-left: 15px;
                    @media (max-width: 768px) {
                        display: grid;
                        grid-template-columns: 1fr;
                    }
                    & .li {
                        font-family: Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        /* identical to box height */

                        color: #52575c;

                        /* Inside Auto Layout */

                        flex: none;
                        order: 2;
                        align-self: center;
                        flex-grow: 0;
                        margin: 6px 0px;
                        padding: 0px;
                        list-style: disc;
                    }
                }
            }
        }
    }
}
